body {
  margin: 0;
}

/* Edy CSS Start */

.img-travellers {
  width: 500px;
  height: 450px;
  text-align: center;
}

.nav-bg {
  background-color: rgb(245, 234, 234);
}
.nav-position {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
}
.ediana{
  padding: 3rem;
}

.Hero {
  background-color: #6b63ff;
  height: 650px;
  color: #ffff;
}

.nav-style {
  margin: auto 10px;
}

.nav-name {
  font-weight: bold;
}
.btn1{
  background-color: #6b63ff;
  border: none;
  border-radius: 7px;
}

/* Edy CSS End */
/* lynda start */
.main1{
    background-color:white;
    height: fit-content;
    /* margin: 2.5rem; */
    /* display: flex; */
    /* width: fit-content; */
    padding: 3rem;
    
}
.learn-how-it-works{
    color: rgb(17, 17, 85);
    background-color: #6b63ff;
    border: none;
    border-radius: 7px;
    height: 2.5rem;
    width: 15rem;
    padding-top: 1rem;
    padding-bottom: 3rem;
    margin-top: 2rem;
}
.handle{
    color: rgb(17, 17, 85);
}
.section1{
    width: 50%;
}
.sction2{
    width: 50%;
}

button :hover{
    /* background-color:purple; */
    color: purple;
}
.cartoon{
    box-shadow: 5px 5px 5px 5px #6b63ff;
    border-radius: 500px 500px 500px 500px ;
    height: 18rem;
    width:18rem ;
    margin-right: 5rem;
    
}
.plans{
    color: rgb(17, 17, 85);
}
/* lynda end */
/* mel starts */
.image{
  border-radius: 100%;
  height: 18rem;
  width: 18rem;
  border-radius:500px 500px 500px 500px ;
  box-shadow: 5px 5px 5px 5px #6b63ff;
  margin-left: 18rem;
}
.mels-main{
  padding: 3rem;
}
.sectiona{
  width: 50%;
}
.sectionb{
  width: 50%;
  padding-left: 8rem;
}
.mel-h1{
  color: rgb(17, 17, 85)
}
.btn2{
  background-color: #6b63ff;
  padding: 10px;
  border: none;
  border-radius: 7px;
  color: rgb(17, 17, 85);
}

/* mel ends */

/* Lydia Starts */
.img{
  border-radius: 100%;
  height: 18rem;
  width: 18rem;
  border-radius: 500px 500px 500px 500px;
  box-shadow: 5px 5px 5px 5px  #6b63ff;
  margin-left: 9rem;

}
.Lh1{
  color: rgb(17, 17, 85);
}

/* Lydia Ends */

/* cyril end */
.fam{
  background-color:rgb(245, 234, 234);
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  padding: 3rem;
}
.lydia{
  margin: 4rem;
}
.lydia2{
  padding-left: 15rem;
}


.travell{
  text-align: center;
  padding: 0.5rem;
  margin-top: 5px;
  justify-content: center;
  color: rgb(17, 17, 85);
  
}
.travel1{
  color: black;
  text-align: center;
  padding: 0.5rem;
  margin-top: 5px;
  justify-content: center;
}


.see{
  padding: 1rem;
  background-color: #6b63ff;
  border: none;
  color: rgb(17, 17, 85);
  border-radius: 7px;

}
.guy{
  justify-content: center;
  width: 50rem;
  margin-left: 21rem;
  padding: 2rem;
  
  
  
  }
  .team{
    
  }
  /* cyril end */

/* Emmanuel starts */
img{
  width: 40rem;
  height: 15rem;
}

.main1{
  justify-content: center;
  margin: 3rem;
  
}
.travel{
  margin-right: 25rem;
  padding-bottom: 4rem;
}
.buddy{
  padding-bottom: 3rem;
}
.icons{
  height: 2rem;
  width: 2rem;
}
.icons1{
  height: 2.5rem;
  width: 3rem;
}
.icons2{
  height: 1.3rem;
  width: 1.8rem;
}
.icons3{
  height: 1.5rem;
  width: 2rem;
  margin-left: 1rem;

}
.icons5{
  justify-content: center;
  /* align-items: center; */
  text-align: center;
  padding-top: 5px;
  
}

.rights{
  justify-content: center;
  text-align: center;
  padding-top: 1rem;
}
.words :hover{
  color: rgb(26, 26, 165);
}
/* Emmanuel ends */





@media screen and (max-width:768px){
  .image{
    height: 18rem;
    width: 18rem;
  }

  
}